// app global css in SCSS form
.background {
  background-color: #fff6d6;
}
.border-bottom-green {
  border-bottom: 5px solid #00a65a;
}
.border-bottom-red {
  border-bottom: 5px solid #dd4b39;
}
.border-bottom-black {
  border-bottom: 1px solid #000;
}
.border-all-grey-round {
  border: 1px solid #ccc;
  border-radius: 5px;
}
